<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete Author</title>
  </head>
  <body>
    Logged in as {{ member.firstname }}. <a href="/logout">Logout</a>.
    <h2>Delete {{ author.firstname }} {{ author.lastname }}'s Profile?</h2>

    <p>Full Name: {{ author.firstname }} {{ author.lastname }}</p>
    <p>Email: {{ author.email }}</p>
    <p>Created At: {{ author.created_at }}</p>

    <h3><form action="{% url "delete_author" id=author.id %}" method="POST">{% csrf_token %}<button type="submit">Delete</button></form></h3>

    <a href="{% url "edit" id=author.id %}">Edit</a>  | <a href="/">All Authors</a> | <a href="/new">Add Another Author</a>

  </body>
</html>
