<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Author</title>
  </head>
  <body>
    Logged in as {{ member.firstname }}. <a href="/logout">Logout</a>.
    <h3>Update {{ author.firstname }} {{ author.middlename }} {{ author.lastname }}'s Profile Information</h3>
    <form class="" action="edit_author" method="post">
    {% csrf_token %}
      <label for="firstname">First Name:</label>
      <input type="text" name="firstname" value="{{ author.firstname }}"></input>
      <br>
      <br>
      <label for="middlename">Middle Name:</label>
      <input type="text" name="middlename" value="{{ author.middlename }}"></input>
      <br>
      <br>
      <label for="lastname">Last Name:</label>
      <input type="text" name="lastname" value="{{ author.lastname }}"></input>
      <br>
      <br>
      <label for="sex">Sex:</label>
      <select name="sex">
        <option value="female">Female</option>
        <option value="male">Male</option>
      </select>
      <label for="span">Period:</label>
      <input type="text" name="span" value="{{ author.span }}"></input>
      <br>
      <br>
      <label for="link">Link:</label>
      <input type="text" name="link" value="{{ author.link }}"></input>
      <br>
      <br>
      <p>Bio:</p>
      <textarea name="bio" rows="10" cols="80"></textarea>
      <input type="hidden" name="id" value="{{ author.id }}">
      <br>
      <button type="submit" name="button">Update Author</button>
    </form>
    <br>
    <a href="{% url "allauthors" %}">Go Back</a>
  </body>
</html>
