<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    BoredBoard |
    <a href="/dashboard">Home</a> |
    <a href="{% url "showmember" id=member.id %}">{{ member.firstname }}</a> |
    <a href="{% url "showmembers" %}">Members</a> |
    <a href="{% url "library" %}">Library</a> |
    <a href="{% url "quotelist" %}">Quotes</a> |
    <a href="/chats">Chat</a> |
    <a href="/logout">Logout</a>



    <h1>Welcome, {{ member.firstname }}!</h1>
  </body>
</html>
